name: CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: "temurin"
          java-version-file: .tool-versions
          cache: "gradle"
      - name: Run tests
        run: ./gradlew test
