name: Release

on:
  workflow_run:
    workflows: ["CI"]
    branches: ["main"]
    types: [completed]

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_sha }}
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: "temurin"
          java-version-file: .tool-versions
          cache: "gradle"
      - uses: actions/setup-node@v4.0.3
        with:
          node-version-file: .tool-versions
      - name: Install semantic-release
        run: npm install --global semantic-release@24.2.3 @semantic-release/exec@7.1.0 conventional-changelog-conventionalcommits@8.0.0
      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
        run: semantic-release
